html,
body,
#root,
.App {
  margin: 0px;
  padding: 0px;
  /* border: 0px; */
  box-sizing: border-box;
}

.App {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  padding: 10%;
}

/* <Todos /> div */
.todos-container {
  /* border: 2px solid pink; */
  width: 80%;
}

/* <TodoForm /> */
.todo-form {
  /* border: 2px solid gold; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* div */
.todo-input-container {
  /* border: 2px solid teal; */
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 2%;
}

.todo-input-container > input {
  width: 60%;
  margin-right: 1%;
}

/* ul */
.todos {
  /* border: 2px solid teal; */
  margin: 0;
  padding: 0;
}

/* <Todo /> li */
.todo {
  /* border: 2px solid purple; */
  margin: 0;
  padding: 1%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.todo > button {
  background-color: white;
  border-radius: 15%;
  cursor: pointer;
}

.alert {
  color: red;
}
